services:
  api:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    container_name: api
    working_dir: /var/www
    env_file:
      - ./.env
    volumes:
      - ./:/var/www
    depends_on:
      - database

  web:
    image: nginx:1.27-alpine
    container_name: web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api

  database:
    image: mysql:8.4
    container_name: database
    environment:
      MYSQL_DATABASE: todo
      MYSQL_USER: todo
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - data:/var/lib/mysql

volumes:
  data:
